body{
  background-color: rgb(209, 209, 209);
  font-family: 'Nunito', sans-serif;
}

img{
  max-width: 100%;
}
.name{
  margin: 2rem 5rem 0 5rem;
  font-size: 188%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects{
display: flex;
flex-direction: column;
align-items: center;
font-size: 146%;
height: 10rem;
}
.skills{
display: flex;
flex-direction: column;
align-items: center;
font-size: 146%;
height: 10rem;
}
.work{
display: flex;
flex-direction: column;
align-items: center;
font-size: 146%;
}

.class{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 4rem 0;
  font-size: 140%;
}

.iframe{
  position: relative;
  overflow: hidden;
  padding-top: 56.75%;
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 7rem 0 7rem;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 25rem;
  object-fit: cover;
  margin-left: 5rem;
  width: calc(100% / 2.4);
}
.carousel img:first-child{
  margin-left: 0px;
}

.resumesection{
  height: 10rem;
  border: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.resumebutton{
  padding: 1rem;
  border: 4px groove gray;
  border-radius: 10%;
  background: linear-gradient(
    black,
    rgb(53, 53, 53)
  );
  font-size: large;
  text-decoration: none;
  color: white;
}
@media (max-width: 50rem) {
  .name{
      display: block;
      margin: 0 1rem 0 1rem;
  }
  .wrapper{
      margin: 0 1rem 0 1rem;
  }
  .wrapper i {
    height: 0px;
    font-size: 0px;
  }

  .carousel img{
      height: 20rem;
      margin-left: 2rem;
      width: calc(100% / 1.4);
  }
}
